body{
    background-color: #ffffff !important;
    /*background-image: url(../image/new2.jpg)!important;*/
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    transition: 350ms ease-in-out;
}
.color-white{
    color:white
}
.p-10{
    padding: 10px 10%;
}
.img-profil{
    width: 80%;
    height: auto;


    box-sizing: border-box;
    border: 5px white solid;
    border-radius: 50%;
   
    box-shadow: 0 5px 15px 0px ;
    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;

}


@keyframes float {
    0% {
      box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
      transform: translatey(0px);
    }
    50% {
      box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
      transform: translatey(-20px);
    }
    100% {
      box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
      transform: translatey(0px);
    }
  }
  



.element-left{
    background-color: #959987;
}
.element-right{
    background-color: #fff;
}
.title{
    justify-content: center;
}
.title-cv{
    background-color: #e6e5dc;
    text-align: center;
   
}







.p-3{
    padding: 3px 3px !important;
}
.color-beige{
    color: #959987;
}




.copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }



  /*les petit ecran*/
  @media screen and (max-width: 767px) {
    .list-contact {
    color:#e6e5dc;
    list-style-type: none;
    position:fixed;
    right:12% !important;
    top: 15% !important;
    border-style:none;
    display: inline-block;
    justify-content: center;
    align-items: center;
    font-size: auto !important;
    width: 20px;
    height: auto;

        }
 }

  /*les Grands ecrans*/
  @media screen and (min-width: 1440px) {
    .list-contact {
    list-style-type: none;
    position:fixed;
    right:5% !important;
    top: 10% !important;
    border-style:none;
    display: inline-block;
    justify-content: center;
    align-items: center;
    font-size: 30px !important;
    width: 20px;
    height: auto;

        }
 }



  
.list-contact {
    list-style-type: none;
    position:fixed;
    right:5%;
    top: 10%;
    border-style:none;
    display: inline-block;
    justify-content: center;
    align-items: center;
    /*flex-direction: column;*/
     font-size: 20px;
     width: 40px;
     height: auto;
     padding: 5% 5%;

    }
.ff {
    display: inline-block;
    cursor: pointer;
    position: relative;
}
.logo {
    position: absolute;
    right: 2.9%;
    top: 4%;
    width: 80px;
    height: 80px;
    cursor: pointer;
    color: #959987;
    
}
/*.list-contact {
    width: 40px;
    height: 40px;
}*/

/*mode dark*/
[data-theme="light"] {
    --gradient-one: #30cfd0;
    --gradient-two: #330867;
    --bg-color: #ffffff;
    --links: #000000;
  }
  
  [data-theme="dark"] {
    --gradient-one: rgba(245, 107, 244, 0.79);
    --gradient-two: #efad05;
    --bg-color: #21232f;
    --links: #FFFFFF;
  }









